<!DOCTYPE html>
<html lang="en">

<head>
    <title>RSHS - RESERVASI ONLINE - Langkah 1 - Verifikasi Identitas Pasien</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Reservasi Online, memfasilitasi pendaftaran pelayanan rawat jalan melalui pendaftaran online.">
    <meta name="author" content="SIRS (Instalasi Sistem Informasi Rumah Sakit) - RSUP Dr. Hasan Sadikin Bandung">
    <meta name="keywords" content="Reservasi Online RSHS, Reservasi, Pelayanan Rawat Jalan, Contact Center">
    <meta name="theme-color" content="#4C8AFF">
    <meta name="msapplication-navbutton-color" content="#4C8AFF">
    <meta name="apple-mobile-web-app-status-bar-style" content="#4C8AFF">

    <link rel="shortcut icon" href="http://reservasi.rshs.or.id/favicon.ico" type="image/x-icon" />
    <link rel="alternate" href="http://reservasi.rshs.or.id/" hreflang="id" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://reservasi.rshs.or.id/assets/css/component/choosen/chosen.css">
    <link rel="stylesheet" href="http://reservasi.rshs.or.id/assets/css/component/datepicker.css">
    <link rel="stylesheet" href="http://reservasi.rshs.or.id/assets/css/component/select2.min.css">
    <link rel="stylesheet" href="http://reservasi.rshs.or.id/assets/css/component/jquery-toast.css">
    <!-- <link rel="stylesheet" href="http://reservasi.rshs.or.id/assets/css/component/jquery-ui-boo.css" > -->
    <link rel="stylesheet" href="http://reservasi.rshs.or.id/assets/css/component/progress-wizard.css">
    <link rel="stylesheet" href="assets/css/defaults.css">

    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/jquery.js"></script>
    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/jquery-tablesorter.js"></script>
    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/jquery-tablecomponent.js"></script>
    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/jquery-inputmask-bundle.js"></script>
    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/jquery-select2.min.js"></script>
    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/jquery-autotab.js"></script>
    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/jquery-validate.js"></script>
    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/jquery-push_notification.js"></script>

    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/graphics/dx.chartjs.js"></script>
    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/graphics/globalize.min.js"></script>
    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/graphics/knockout-2.2.1.js"></script>
    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/peity.js"></script>

    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/timeago.js"></script>
    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/component/jquery-toast.js"></script>
    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/ajax_load.js"></script>
    <script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/ga.js"></script>
</head>

<body>
    <%@ body { %>
        <% } %>
</body>

<script type="text/javascript" src="http://reservasi.rshs.or.id/assets/js/default.js"></script>

</html>