/*
 * Default CSS
 *----------------------------------
 * create by : AMP
 * order by apendix
 */

/* default tags */

/* A */
a.nosep_choose {
	cursor: pointer;
}
a.nosep_choose:hover {
	color: #AAA !important;
}
a.accordion-toggle {
	color: #000 !important;
}

/*-----------------------------------------------------------*/

/* B */

/*-----------------------------------------------------------*/

/* C */
center.shortcut > .btn-group {
	display: inline-block;
	width: 206px;
	margin-right: 2px;
	margin-bottom: 2px;
	background-color: #eee;
	border-bottom: 4px solid #D0E3F0;
}
.center {
	text-align: center
}

/*-----------------------------------------------------------*/

/* D */
div.mini_input {
	margin-right: -45px;
}
div.empty-row {
	padding: 8px;
	min-height: 20px;
	border: thin solid #FDD845;
}

/*-----------------------------------------------------------*/

/* E */

/*-----------------------------------------------------------*/

/* F */
fieldset {
	margin: 0 0 10px 0;
	border-left: thin solid #DDD;
}

/*-----------------------------------------------------------*/

/* G */

/*-----------------------------------------------------------*/

/* H */
hr {
	margin-bottom: 10px;
	margin-top: 10px;
}
hr.dash {
	border: thin dashed #CCC;
}
html, body {
	height: 100%;
	background-color: #fff !important;
	font-family: "OpenSans", verdana, Helvetica, Arial, sans-serif;
	font-size: 11px !important;
}

/*-----------------------------------------------------------*/

/* I */
i {
	font-size: 10px;
}
input.mini_input {
	width: 80px !important;
	display: inline-block;
}
input.mini_input_lg {
	width: 240px !important;
	display: inline-block;
}
input.mini_input.double {
	float: left;
	width: 49px !important;
	margin-right: 2px;
}
input.input_numeric {
	text-align: right;
}
input.filter_select {
	border: thin solid #eee;
}
input.low {
	width: 40px;
	text-align: center;
	margin-top: 5px;
}
input.mid-low {
	width: 120px;
	text-align: center;
	margin-top: 5px;
}
input.add_cols {
	width: 30px;
}
input[type='checkbox'].data_pembanding {
	margin-left: 3px;
	height: 15px;
	width: 15px;
}

/*-----------------------------------------------------------*/

/* J */

/*-----------------------------------------------------------*/

/* K */

/*-----------------------------------------------------------*/

/* L */
legend {
	padding: 0px 0 5px 5px !important;
	font-size: 15px;
	margin-top: 10px;
}
label.penunjang_content {
	width: 245px;
	padding: 2px;
	height: 20px;
	display: inline-block;
	overflow: hidden;
}
label.penunjang_content > span.active {
	color: #AC5100;
}
label.penunjang_content > input {
	margin-top: -2px;
}
label.penunjang_content > a {
	background-color: #D2322D;
	padding: 1px 3px 2px 3px;
	color: #fff;
	border-radius: 3px;
}
label.server-status {
	padding: 0px 8px;
	border-radius: 100px;
	text-indent: -9999px;
}
label.border {
	padding: 10px;
	border: thin solid #EEE;
	width: 100%;
	background-color: #F8F1BE;
}
label.offline {
	background-color: #D2322D;
}
label.online {
	background-color: #47A447;
	cursor: pointer;
}
label.ip {
	width: 100px;
	color: yellow;
}
label.ip:hover {
	color: red;
}
label.empty {
	padding: 10px;
	background-color: red;
}
label.td_green {
	background-color: #C7EEB8;
	width: 20px;
	height: 20px;
}
label.label-10 {
	display: inline-block;
	width: 70px;
	color: #428BCA;
}
label.label-15 {
	display: inline-block;
	width: 75px;
	color: #428BCA;
}
label.label-20 {
	display: inline-block;
	width: 80px;
	color: #428BCA;
}

/*-----------------------------------------------------------*/

/* M */

/*-----------------------------------------------------------*/

/* N */
noscript {
	position: fixed;
	z-index: 10000;
	width: 100%;
}

/*-----------------------------------------------------------*/

/* O */

/*-----------------------------------------------------------*/

/* P */

/*-----------------------------------------------------------*/

/* Q */

/*-----------------------------------------------------------*/

/* R */

/*-----------------------------------------------------------*/

/* S */
sup.red_beta {
	background-color: red;
	font-size: 10px;
	padding: 2px;
}
sup.red {
	padding: 2px;
	background-color: #FF0000;
	color: #fff;
	font-size: 12px;
}
select:disabled {
	background-color: #8586A3 !important;
	border: none !important;
}

/*-----------------------------------------------------------*/

/* T */
tfoot tr td {
	vertical-align: middle;
	border-top: 2px solid black !important;
	background-color: #eee !important;
}
th:hover {
	color: #3276B1;
}
table th.fix_width_xs {
	width: 150px !important;
}
table th.fix_width_lg {
	width: 200px !important;
}
table th.fix_width_llg {
	width: 300px !important;
}
table th.fix_width_xxs {
	width: 90px !important;
}
td > li {
	display: block;
	position: relative;
	list-style: none outside none;
}
table th {
	border-bottom: 3px solid #AAA !important;
	text-align: center;
	vertical-align: middle !important;
}
table td.fix_width_xs {
	border-bottom: 3px solid #AAA !important;
	text-align: center;
	vertical-align: middle !important;
	width: 150px !important;
}
td.empty_black {
	background-color: #000 !important;
	border: thin solid #000 !important;
}
td.no_posting_izin {
	background-color: #573E7E !important;
	border: thin solid #573E7E !important;
	text-align: center;
	color: #FFF;
	font-style: italic;
}
table tr td.fix_width_xs {
	width: 150px !important;
}
tr.daful_active > td {
	background-color: rgba(0, 0, 0, 0.2) !important;
}
tr.daful_active_edit > td {
	background-color: rgba(255, 255, 204, 0.8) !important;
}
th {
	cursor: pointer;
}
td.align-right {
	text-align: right !important;
}
td.align-center {
	text-align: center !important;
}
th.blue, td.blue {
	background-color: #C5DBEF;
}
th.default, td.default {
	background-color: #ECECEC;
}
td.border-right {
	border-right: thin solid #000 !important;
}
th.yellow, td.yellow {
	background-color: #F8F1BE;
}
tr.bold-bordered > td {
	border-top: 3px solid #000 !important;
	border-bottom: 3px solid #000 !important;
}
td.green {
	background-color: #C7EEB8;
}
td.red {
	background-color: #E38C94;
}

/*-----------------------------------------------------------*/

/* U */

/*-----------------------------------------------------------*/

/* V */

/*-----------------------------------------------------------*/

/* W */

/*-----------------------------------------------------------*/

/* X */

/*-----------------------------------------------------------*/

/* Y */

/*-----------------------------------------------------------*/

/* Z */

/*-----------------------------------------------------------*/

/* Class & ID's */

/* A */
.accordion-toggle-active {
	background-color: #d0e3f0;
}
.align-top {
	vertical-align: top;
}

/*-----------------------------------------------------------*/

/* B */
.btn-radius {
	border-radius: 100%;
	width: 22px;
	height: 22px;
	padding: 2px !important
}
.btn-custom-posisiton {
	position: relative;
	top: -5px;
}
.btn-supper {
	padding: 8px 12px !important;
}
.btn-link-border {
	border: thin solid #eee;
}
.bs-old-docs ~ label {
	color: #FFF;
}
.bs-old-docs {
	padding: 15px 20px;
	background-color: rgba(66, 67, 88, 1);
	z-index: 999;
	position: relative;
	display: none;
}
.bs-callout {
	border-left: 6px solid #EEEEEE;
	border-top: 2px solid #EEEEEE;
	margin-bottom: 10px;
	min-height: 35px;
	padding: 5px;
}
.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}
.bs-callout-content {
	background-color: #F5F5F5;
	border-color: #CCCCCC;
}
.bs-callout-warning {
	background-color: #FEFBED;
	border-color: #F1E7BC;
}
.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}
.bs-callout-image {
	text-align: center;
	padding: 5px;
}
.button_column {
	background-color: #d0e3f0 !important;
	text-align: center;
	width: 20px !important;
}
.button_column_lg {
	background-color: #D0E3F0 !important;
	text-align: center;
	width: 100px !important;
}
.button_column_md {
	background-color: #D0E3F0 !important;
	text-align: center;
	width: 70px !important;
}
.btn-pink {
	background-color: #AA55FF;
	border-color: #AA55FF;
	color: #FFFFFF;
}
.btn-black {
	background-color: #000000;
	border-color: #000000;
	color: #FFFFFF;
}
.border-fix {
	border-right: thin solid #000 !important;
	border-left: thin solid #000 !important;
}

/*-----------------------------------------------------------*/

/* C */
.credit {
	margin: 20px 0;
}
#content-data-kunjungan {
	overflow: hidden;
}
.center-border {
	text-align: center;
	border-bottom: thin solid #EEE;
	padding: 0 0 10px
}
td > label.center {
	text-align: center !important;
}
.chosen-container {
	font-size: 12px !important;
	width: 30.8% !important;
}
.chosen-container-single .chosen-single {
	height: 34px !important;
	padding: 6px 12px !important;
	border-radius: 0px !important;
}
.chosen-container-single .chosen-single div {
	top: 5px !important;
}
.caption-area {
	text-align: center;
	padding: 4px 15px;
}
.caption-area > h3 {
	font-weight: bold;
	font-family: "tahoma";
	font-size: 16px;
}
.caption-area > p {
	color: #aaa;
}
.container {
	max-width: 1194px !important;
}

/*-----------------------------------------------------------*/

/* D */
.display-toggle-link {
	cursor: pointer;
}
.docs-header {
	background-image: url(../images/background/component/background/4.svg);
	background-repeat: no-repeat;
	//background-position: -116px -532px;
	color: #FFF;
	font-size: 90%;
	position: relative;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	background-color: #5A5A5A;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	z-index: 1 !important;
	height: 210px;
}
.docs-header h3 {
	text-align: left;
	color: #FFF !important;
	font-size: 250%;
	font-weight: bold;
}
.display-toogle {
	padding: 10px;
	margin: 7px 0px 10px 0px;
	border: thin solid #DDDDDD;
	border-radius: 5px;
}
.display-toogle-header {
	margin-bottom: 10px;
	border-bottom: thin solid #ddd;
	padding-bottom: 10px;
}
.dropdown-menu {
	font-size: inherit !important;
}

/*-----------------------------------------------------------*/

/* E */
#error_ajax {
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
}
.empty-row {
	background-color: #FFF6BF !important;
	text-align: center;
	color: #666633;
}
.empty-row-error {
	background-color: #FFCCCC !important;
	text-align: center;
	color: #666633;
}
.edit_column {
	background-color: #f0f7fd !important;
}

/*-----------------------------------------------------------*/

/* F */
#footer {
	background-color: #ddd;
	border-top: 2px solid #27337D;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02) inset, 0 -1px 0 rgba(255, 255, 255, 0.25);
}
#footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}
.form_group-compact {
	margin-bottom: 0px !important;
}
.form_labeling_important {
	color: red;
}
.form-control-small {
	width: 200px;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.filter_select {
	padding: 4px 8px 4px 4px;
	border: thin solid #eee;
}
.form-control {
	border-radius: 0px !important;
	font-size: 16px;
}
.form_labeling {
	font-weight: bolder;
	margin-top: 10px;
}
.form_labeling_small {
	font-size: 9px !important;
	font-family: tahoma !important;
}
.fix_number_30 {
	width: 30px !important;
	text-align: right !important;
}
.fix_number_40 {
	width: 45px !important;
	text-align: right !important;
}
.fix_number_30.summary, .fix_number_40.summary {
	font-weight: bolder !important;
}
.fix_var_230 {
	width: 150px !important;
}
.align-left{
	text-align: left !important;
}

/*-----------------------------------------------------------*/

/* G */
.grafik_windows {
	display: none;
}
.grafik_container {
	margin-top: 30px;
	padding: 15px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -10px;
	border-top: thin dashed #000;
}
.green_bg {
	background-color: #C7DFF3 !important;
}
.grey {
	background-color: #ddd !important;
}

/*-----------------------------------------------------------*/

/* H */
.hide_proc, .hide_diag {
	display: none;
}
.help-block {
	font-size: 9px !important;
}
.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}

/*-----------------------------------------------------------*/

/* I */
.image-center {
	text-align: center;
}
.inline {
	display: inline-block;
}

/*-----------------------------------------------------------*/

/* J */

/*-----------------------------------------------------------*/

/* K */

/*-----------------------------------------------------------*/

/* L */
.label {
	font-size: 90% !important;
}
.label-lg-ext {
	width: 100px;
}
.label-lg {
	width: 140px;
}
.large-font {
	font-size: 12px !important;
}
.large-font-label {
	font-size: 18px !important;
	font-weight: normal !important
}
.large-font-nominal {
	font-size: 20px !important;
}
.large-label {
	min-width: 95px;
	font-size: 14px;
}
#loading-overlay-layer {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 98;
	color: #eee;
	z-index: 1041;
	//display: none;
}
#loading_custom {
	padding: 15px;
	background-color: #F9EDBE;
	position: fixed;
	bottom: 50%;
	left: 40%;
	z-index: 100000;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	display: none;
	text-align: center;
	border: 2px solid #F0C36D;
	font-weight: bold;
}
#loading_custom_detail {
	padding: 10px 10px;
	background-color: #FFF;
	top: 2%;
	position: fixed;
	height: 450px;
	width: 400px;
	left: 38%;
	z-index: 100000;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	border: 2px solid #AAA;
	display: none;
	overflow: auto;
}
@print {
	#loading_panel {
		background-color: #EEE;
		padding: 10px;
		position: fixed;
		bottom: 50%;
		z-index: 10000;
		display: none;
		text-align: center;
		display: none;
	}
}
#loading_panel {
	background-color: #EEE;
	padding: 10px;
	position: fixed;
	bottom: 50%;
	z-index: 10000;
	display: none;
	text-align: center;
}
#loading_panel_no_js {
	background-color: #EEE;
	padding: 10px;
	position: fixed;
	bottom: 50%;
	left: 35%;
	z-index: 10000;
	text-align: center;
}
.lagend_text {
	margin-left: 4px;
	font-size: 11px !important;
	display: inline-block;
	color: #aaa;
}
.lagend_container {
	display: inline-block;
}
.login_logo_title_bottom {
	font-size: 10px;
	margin-top: 5px;
	margin-left: 0px;
	width: 211px;
}
.login_logo_bottom {
	width: 60px;
	vertical-align: top;
}
.login_logo_top {
	text-align: center;
	margin: 5px 25px 20px 10px;
}
.list-group-item {
	color: #000 !important;
	padding: 7px 15px !important;
}
.lagend_terlambat {
	border-radius: 500px;
	padding: 7px;
	background-color: #FB7F7F;
	display: inline-block;
}
.lagend_pulang_cepat {
	border-radius: 500px;
	padding: 7px;
	background-color: #AA00FF;
	display: inline-block;
}
.lagend_toleransi {
	border-radius: 500px;
	padding: 7px;
	background-color: #FDD845;
	display: inline-block;
}
.lagend_libur {
	border-radius: 500px;
	padding: 7px;
	background-color: #91DD74;
	display: inline-block;
}
.lagend_libur_nasional {
	border-radius: 500px;
	padding: 7px;
	background-color: #2DE3BF;
	display: inline-block;
}
.lagend_no_posting {
	border-radius: 500px;
	padding: 7px;
	background-color: #000000;
	display: inline-block;
}
.lagend_no_posting_izin {
	border-radius: 500px;
	padding: 7px;
	background-color: #573E7E;
	display: inline-block;
}
.lagend_absen_tidak_lengkap {
	border-radius: 500px;
	padding: 7px;
	background-color: #0AC8FF;
	display: inline-block;
}
.list-group-item.list-group-item-danger {
	background-color: #FED44D;
}
.list-group-item.list-group-item-warning {
	background-color: #D9EDF7;
}
.low-row {
	margin-bottom: -5px !important;
}

/*-----------------------------------------------------------*/

/* M */
.menu_permintaan_konsul {
	display: none;
}
.modal_center {
	text-align: center;
	padding: 5px;
}
.modal-title {
	font-size: 15px;
	font-weight: bold;
}
.modal-footer {
	margin-top: 0px !important;
	border-top: 3px solid #FDD845;
	background-color: #FFF6BF;
	padding: 10px 20px 10px;
}

/*-----------------------------------------------------------*/

/* N */
.navbar {
	border-radius: 0px;
	margin-bottom: 0px !important;
}
.navbar-brand {
	color: #000 !important;
	border-right: thin solid #CCC;
}
.navbar-brand img {
	margin-top: -12px;
	margin-right: 5px;
}

/*-----------------------------------------------------------*/

/* O */
.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 98;
	color: #eee;
	z-index: 1031;
	display: none;
}

/*-----------------------------------------------------------*/

/* P */
@media print {
	.panel {
		margin-top: 2px !important;
	}
	#wrap > .container {
		padding: 2px 5px 0;
	}
}
.panel-title {
	font-size: inherit !important;
}
.panel-shadow {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.panel-heading {
	border-bottom: 2px solid #d0e3f0;
}
.panel-group .panel-heading {
	border-bottom: 2px solid #d0e3f0;
}
.panel-primary.panel-shadow .panel-heading > a {
	color: #fff;
	font-size: 12px;
	f
}
.print_panel {
	position: absolute;
	right: 0px;
	padding: 5px;
	background-color: #FFF;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 8px 10px rgba(0, 0, 0, 0.45);
	z-index: 997;
	color: #FFF;
}
.panel-collapse {
	border-left: 7px solid #d0e3f0;
	border-right: 7px solid #d0e3f0;
	border-bottom: 7px solid #d0e3f0;
}
.panel-collapse-fisik {
	border-left: thin solid #d0e3f0 !important;
	border-right: thin solid #d0e3f0 !important;
	border-bottom: thin solid #d0e3f0 !important;
}
#print_area {
	background-color: #FFFFFF;
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
	z-index: 1000000;
	padding: 20px;
}
.page_header_cust {
	padding-bottom: 9px;
	min-height: 5px;
	margin: -12px -13px 10px -13px;
	background-image: url(../img/component/background_3.svg);
	background-position: center;
	background-repeat: repeat;
	color: #fff;
}
.preambule {
	font-size: 15px;
	margin-bottom: 30px;
}
.panel-default{
	border-color: #aaa !important;
}

/*-----------------------------------------------------------*/

/* Q */

/*-----------------------------------------------------------*/

/* R */

/*-----------------------------------------------------------*/

/* S */
.search-bar-lg {
	width: 80% !important;
}
.search-bar-med {
	width: 32% !important;
}
.search-bar-med-low {
	width: 15.9% !important;
	text-align: center;
	background-color: #FFF6BF;
}
.search-bar-low {
	width: 10.85% !important;
}
.search-bar-vlow {
	width: 6% !important;
}
.scroll_top > a {
	color: #fff;
}
.scroll_top {
	background-color: rgba(0, 0, 0, 0.14);
	bottom: 50%;
	color: #000 !important;
	display: none;
	font-size: 26px;
	height: 51px;
	right: 0px;
	padding: 6px 5px 5px 1px;
	position: fixed;
	text-align: center;
	vertical-align: middle !important;
	width: 51px;
	z-index: 1000
}
.short_option {
	width: 160px !important;
	margin-left: 2px;
	display: inline-block !important;
}
.short_option {
	width: 160px !important;
	margin-left: 2px;
	display: inline-block !important;
}
.sparated_area {
	margin-top: 20px;
}
.standart_input {
	padding: 5px;
	height: 28px
}

/*-----------------------------------------------------------*/

/* T */
#table_handler {
	display: block;
	overflow: auto;
}
#tablePagination > div {
	display: inline-block;
	margin-right: 10px;
}
#tablePagination_paginater > .icon {
	padding: 0 5px;
	cursor: pointer;
}
.table {
	margin-bottom: 10px !important;
}
.track_realcost {
	cursor: pointer;
}
.table-responsive {
	overflow: auto !important;
}
.table-filter, #tablePagination {
	padding: 5px 10px;
	background-color: #eee;
	margin: 1px 0 10px 0;
}
.table-filter > #filter_form > .btn-link {
	color: #000 !important;
}
.table-hover > tbody > tr:hover > td.edit_column {
	background-color: #FEF8E2 !important;
}
.table-filter > #filter_form > label, #tablePagination > label {
	min-width: 80px;
	margin-left: 2px;
}
.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
	background-color: #FFF6BF;
}
.tes {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #FFFFFF;
	border-color: -moz-use-text-color #000000 #000000;
	border-image: none;
	border-right: thin solid #000000;
	border-style: none solid solid;
	border-width: medium thin thin;
	left: 104px;
	list-style: none outside none;
	padding: 5px;
	position: absolute;
	top: 100px;
	width: 516px;
	z-index: 1000;
	overflow: scroll;
}
.toggle-identity {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
	padding: 12px;
	z-index: 998;
}
.toggle-identity > div {
	display: inline-block;
	min-width: 60px;
	margin-top: -10px;
}
.toggle-identity > div > .title {
	color: #EEE;
	font-size: 8px;
	margin-bottom: -10px;
	padding-left: 2px;
}
.toggle-identity > div > label.content {
	padding: 3px;
	margin-right: 2px;
	margin-left: 2px;
	background-color: #FFF;
	border-radius: 3px;
	width: 100%;
	font-size: 10px;
}
.toggle-identity > div > label.content-inner {
	background-color: #FFF6BF !important;
}
.tutup_error {
	padding: 5px 10px;
	background-color: #fff;
	border-radius: 5px;
	width: 100px;
	margin: 10px auto 0 auto;
}
.thumbnail {
	background-color: #eee !important;
}
.thumbnail:hover {
	box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 19px;
}
td.null {
	background-color: #eee !important;
}

/*-----------------------------------------------------------*/

/* U */

/*-----------------------------------------------------------*/

/* V */

/*-----------------------------------------------------------*/

/* W */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}
@media {
	#wrap > .container {
		padding: 20px 15px 0;
	}
}

/*-----------------------------------------------------------*/

/* x */

/*-----------------------------------------------------------*/

/* y */

/*-----------------------------------------------------------*/

/* z */

/*-----------------------------------------------------------*/

.font-14 {
	font-size: 12px;
}
.capitalize-font {
	text-transform: capitalize;
}
.black-text {
	color: #000 !important;
}
@media (max-width:600px) {
	.search-bar-med-low {
		width: 50px !important;
	}
}
.navigation_bar {
	position: fixed;
	position: fixed;
	bottom: 25%;
	z-index: 10000;
}
.nav_item {

	/* padding: 5px; */
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
	border-radius: 0 20px 20px 0px;
	width: 48px;
	overflow: hidden;
	animation-duration: 4s;
}
.nav_item:hover {
	width: 150px;
	-webkit-transition: width 0.2s ease-in-out;
	-moz-transition: width 0.2s ease-in-out;
	-o-transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out;
}
;

.page-header {
	padding-bottom: 0px !important;
	margin: 20px 0 20px !important;
}
@media(min-width:1100px) {
	#main_container {
		position: relative;
		top: -70px;
		z-index: 998;
	}
}
.ribbon {
	position: relative;
	background: #4c8aff;
	color: #fff;
	text-align: center;
	padding: 1em 2em;
	margin: 10px -27px;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #000 transparent transparent transparent;
	bottom: -1em;
}
.ribbon .ribbon-content:before {
	left: 0;
	border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
	right: 0;
	border-width: 1em 1em 0 0;
}
.ui-datepicker {
	background-color: #fff;
	border: 1px solid #aaa;
	display: none;
	margin-top: 4px;
	padding: 10px;
}
.ui-datepicker a, .ui-datepicker a:hover {
	text-decoration: none;
}
.ui-datepicker a:hover, .ui-datepicker td:hover a {
	color: #2A6496;
	-webkit-transition: color 0.1s ease-in-out;
	-moz-transition: color 0.1s ease-in-out;
	-o-transition: color 0.1s ease-in-out;
	transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
	margin-bottom: 15px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	cursor: pointer;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
	content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
	content: "\e080";
}
.ui-datepicker .ui-icon {
	display: none;
}
.ui-datepicker .ui-datepicker-calendar {
	table-layout: fixed;
	width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th, .ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
    padding: 2px;
    font-size: 17px;
    font-family: monospace;
}
.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	-moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	-o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: #eee;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
	background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
	color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default;
}
.ui-datepicker-unselectable.ui-state-disabled {
	background-color: #fff;
	color: #aaa;
}
#main_container2 {
	//width: 400px !important;
	margin: auto !important;
}
.thanks{
    background-image: url(../img/component/terimakasih.png);
    height: 210px;
    background-size: contain;
    background-repeat: no-repeat;
}
.content_informasi{
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 121px;
    padding: 121px 30px 0 30px;
    font-size: 16px;
    margin-top: 65px;
}
.content_informasi.cc{
    height: 370px;
    width: 110% !important;
	background-image: url(../img/component/service.png);
}
.content_informasi.android{
    height: 370px;
    width: 110% !important;
	background-image: url(../../assets/images/temp/android.png);
}
.content_informasi.dr{
    height: 370px;
    width: 110% !important;
	background-image: url(../img/component/dokter.png);
}
.content_informasi.drs{
    height: 370px;
    width: 110% !important;
	background-image: url(../img/component/mini_banner.png);
}
.content_informasi.no_antri{
    height: 370px;
    width: 110% !important;
	background-image: url(../img/component/no_antri.png);
}
.content_text{
	padding: 5px 50px;
	margin: 10px 0 0 0;
	font-size: 17px !important;
	text-align: center;
	color: #737373;
	font-family: 'Open Sans', arial
}