<div class='panel-body'>
    <div class='pre-header-image visible-xs visible-sm'></div>
    <div class='ribbon'><strong class="ribbon-content"> LANGKAH 1 - VERIFIKASI IDENTITAS PASIEN</strong></div>
    <div class='info_container'>
        <h5>
            <center>
                <small>
							Pastikan anda sudah terdaftar sebagai pasien <br>
							RSUP Dr. Hasan Sadikin Bandung.<br><br>
							<span class='visible-lg'>
								Masukan No.Rekam Medik & Tanggal lahir <br>
								sesuai dengan yang tertera di KIP (Kartu Indentitas Pasien) <br>
								yang diterima ketika mendaftar
							</span>
						</small>
            </center>
        </h5>
        <hr>
        <form class='get_ajax_submit' method='POST' target_container='.result_identitas' action='http://reservasi.rshs.or.id/reservasi/identitas_pasien'>
            <div class="form-group">
                <label>Masukan No.Rekam Medik</label>
                <input name='q' autocomplete="off" class='medrec center form-control text_masking' maxlength='10' autofocus></input>
            </div>
            <div class="form-group">
                <label>Masukan Tanggal Lahir</label>
                <input name='l' autocomplete="off" class='tanggal center form-control text_masking' data-inputmask="'alias': 'date'"></input>
            </div>
            <div class='result_identitas'>
                <button type="submit" id='btn_cari_data' class="form-control btn btn-primary">CARI DATA PASIEN</button>
                <div class='hidden-sm hidden-xs'>
                    <hr class='dash' />
                    <h5>
                        <center>
                            <small>Petunjuk Letak Informasi Identitas Pasien berdasarkan KIP (Kartu Identitas Pasien) RSUP Dr. Hasan Sadikin Bandung, untuk dinputkan pada form diatas</small>
                        </center>
                    </h5>
                    <img src='http://reservasi.rshs.or.id/assets//img/component/kip.png' class="img-responsive" />
                </div>
            </div>
        </form>

    </div>
    <div class='info_wizard hidden-lg hidden-print'>
        <hr class='dash'>
        <ul class="progress-indicator">
            <li class='completed'><span class="bubble"></span> Langkah 1. <br>Verifikasi Identitas Pasien</li>
            <li class='uncompleted'><span class="bubble"></span> Langkah 2. <br>Pilih Jadwal Reservasi</li>
            <li class='uncompleted'><span class="bubble"></span> Langkah 3. <br>Resume Jadwal Reservasi</li>
        </ul>
    </div>
</div>